<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-4 text-white">Share your photos!</h1>
    <p class="lead text-white">This is a simple garbage jumbotron, a simple jumbotron-style component for calling extra attention to featured content or sus.</p>
    <hr class="my-4">
    <p class="text-white">It uses utility classes for no reason and spacing to space the space out within the larger space.</p>
  </div>
</div>


<div class="container">

  <div class="col">
    <h2><%= link_to '10$ option', new_user_registration_path %></h2>
  </div>

  <div class="col">
    <h2><%= link_to '20$ Premium option', new_user_registration_path %></h2>
  </div>

</div>